    body{
    }
    a,p,div,h1,h2,h3,h4,h5,h6,button{
        font-weight: 250;
    }
    select.searching{
        border-radius: 0px;
        width: 250px;
        font-weight: 100;
    }
    input[type="date"]{
        border-radius: 0px; 
        width: 250px;
        height: 62px;
        font-weight: 100;
    }


    